[submodule "Learn_NNs/PINNs-TF2.0"]
	path = Learn_NNs/PINNs-TF2.0
	url = git@github.com:pierremtb/PINNs-TF2.0.git
[submodule "Learn_NNs/PINNs"]
	path = Learn_NNs/PINNs
	url = git@github.com:maziarraissi/PINNs.git
[submodule "Learn_NNs/zihaopytorch"]
	path = Learn_NNs/zihaopytorch
	url = git@github.com:TommyZihao/zihaopytorch.git
[submodule "Learn_NNs/PINN_TF2"]
	path = Learn_NNs/PINN_TF2
	url = git@github.com:ShotaDeguchi/PINN_TF2.git
[submodule "Learn_NNs/W-PINNs-DE"]
	path = Learn_NNs/W-PINNs-DE
	url = git@github.com:alexpapados/Physics-Informed-Deep-Learning-Solid-and-Fluid-Mechanics.git
